body {
    color: blue;
    text-align: center;
    font-family: "Arial";
    background-color: gray;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;

}

#contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid green;
    max-width: 400px;
}


#cabecera {
    background-color: black;
    color: white;
    display: block;
}
<<<<<<< HEAD
=======

footer {
    background-color: black;
    color: white;
    height: 40px;
}
>>>>>>> 81f9e478e3946f0c46ff990a6c1354a0a60cb015
